#app {
	width: 100%;
	max-width: 400px;
	display: block;
	margin: 0 auto;

	header {
		text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background: #f7f7f7;
	}
}